In [1]:
Students = [ 
    {
        'FirstName': 'asma',
        'LastName': 'rashid',
        'ID': '1689'
    },
    
{
    'FirstName': 'Ayesha',
    'LastName': 'noor',
    'ID': '1425'
},
]
Students
a = Students[0]
Students_ID = a['ID']

Students_ID

'1689'